body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica;
}
html, body, #map {
    width: 100vw;
    height: 100%;
}

#loading {
    width: 100vw;
    height: 100%;
    z-index: 1071;
    display: flex;
    font-size: 300%;
    align-items: center;
    justify-content: center;
    background-color: #aaa;
    opacity: .7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flex-container {
    position: absolute;
    margin: 0 -6px;
    height: 28px;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
}

.search-container {
    top: 12px;
    left: 55px;
    right: 12px;
}

.slider-container {
    top: 44px;
    left: 55px;
    right: 12px;
}

.search {
    margin: 0 5px;
    display: flex;
    flex-basis: 80%;
    box-shadow: 2px 2px #333;
}

#low, #high {
    flex-basis: 15%;
    margin: 0 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 2px #333;
}

.results {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 1.5rem;
    margin: 0 5px;
    box-shadow: 2px 2px #333;
}

input#search {
    padding-left: 6px;
    width: 100%;
    border: none;
}

.marker {
    color: #fff;
}

.spacer {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin: 0 5px; 
    padding: 6px;
    width: 100%;
    box-shadow: 2px 2px #333;
}

.slider {
    display: flex;
    position: relative;
    z-index: 1000;
    width: 100%;
}

#grade {
    width: 100%
}
